.error {
    color: red;
    font-size: 20px;
}

.ias-input-container > label {
    display: inline-block;
    margin: 0;
    text-align: right;
    width: 55px;
}

.ias-input-container > input {
    width: 70px;
}

.input-panel {
    display: inline-block;
    width: 170px;
}

.section {
    margin-top: 20px;
}

.canvas-panel {
    display: inline-block;
}

.canvas-panel:last-of-type {
    margin-left: 20px;
}